<footer class="footer-area footer-bg pt-100 pb-70">
    <div class="container">
        <div class="footer-top">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6">
                    <div class="footer-img">
                        <img src="assets/cul.png" alt="Images">
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="footer-social-icon">
                        <ul class="social-link">
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-midal pt-45 pb-70">
            <div class="row">
                <div class="col-lg-2 col-sm-7">
                    <div class="footer-widget">
                        <h3>Entreprise</h3>

                        <ul class="footer-list">
                            <li><a routerLink="/">À propos CulTechConnect</a></li>
                            <li><a routerLink="/">Pour les clients</a></li>
                            <li><a routerLink="/">Blog et actualités SEO</a></li>
                            <li><a routerLink="/">Carrières et avis</a></li>
                            <li><a routerLink="/">Plan du site</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-7">
                    <div class="footer-widget">
                        <h3>Newsletter</h3>
                        <p>Pour recevoir les dernières actualités et mises à jour de notre part</p>
                        <div class="newsletter-area">
                            <form class="newsletter-form">
                                <input type="email" class="form-control" placeholder="Votre Email*" name="EMAIL" required autocomplete="off">
                                <button class="default-btn" type="submit">Abonnez-vous</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-right-area">
            <div class="copy-right-text text-center">
                <p>Copyright @2021 CulTechConnect. All Rights Reserved by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a> </p>
            </div>
        </div>
    </div>
</footer>
