<footer class="footer-area footer-bg2 pt-100">
    <div class="container">
        <div class="footer-midal pb-70">
            <div class="row">
                <div class="col-lg-4 col-sm-7">
                    <div class="footer-widget">
                        <div class="footer-img">
                            <img src="assets/cul.png" alt="Images">
                        </div>
                        <p>Explorez, Connectez, Innovez. Notre plateforme mondiale rapproche les cultures pour catalyser l'innovation..</p>
                        <div class="footer-social-icon">
                            <ul class="social-link">
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-5">
                    <div class="footer-widget">
                        <h3>Ressources</h3>

                        <ul class="footer-list">
                            <li><a routerLink="/">Nos scientifiques</a></li>
                            <li><a routerLink="/">Nos services</a></li>
                            <li><a routerLink="/">Témoignages</a></li>
                            <li><a routerLink="/">Solutions SaaS</a></li>
                            <li><a routerLink="/">Commerce électronique</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-7">
                    <div class="footer-widget pl-5">
                        <h3>Entreprise</h3>

                        <ul class="footer-list">
                            <li><a routerLink="/">Accueil</a></li>
                            <li><a routerLink="/about">À propos</a></li>
                            <li><a routerLink="/case-study">Études de cas</a></li>
                            <li><a routerLink="/blog">Notre blog</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-5">
                    <div class="footer-widget">
                        <h3>Addresse</h3>

                        <ul class="footer-list-two">
                            <li><i class='flaticon-telephone'></i><a href="tel:+4498886660000">(+216) 54 963 533</a></li>
                            <li><i class='flaticon-email-1'></i><a href="mailto:hello@zinka.com">nadine.mili@esprit.tn</a></li>
                            <li><i class='flaticon-place'></i>1, 2 rue André Ampère - 2083 - Pôle Technologique - El Ghazala.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-right-area">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copy-right-text text-start">
                        <p>Copyright @2021 CulTeckConnect. All Rights Reserved by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a> </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="copy-right-list">
                        <ul>
                            <li><a routerLink="/privacy-policy"> Privacy Policy</a></li>
                            <li><a routerLink="/terms-conditions"> Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
