<app-navbar-style-four></app-navbar-style-four>
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Quiz</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>Quiz</li>
            </ul>
        </div>
    </div>
</div>

<div class="quiz-container" *ngIf="!quizStarted">
  <button (click)="startQuiz()">Start Quiz</button>
</div>

  <div class="quiz-container" *ngIf="quizStarted">
    <div *ngIf="questions.length > 0">
        <h2>Quiz Question {{ currentQuestionIndex + 1 }}</h2>
        <p class="question-text">{{ questions[currentQuestionIndex].text }}</p>
        <p class="timer">{{ timerCountdown }}</p> 

        <!-- <app-dialog [showDialog]="showDialog"></app-dialog> -->

        
        <ul class="answer-choices">
            <li *ngFor="let answer of questions[currentQuestionIndex].choices; let i = index">
              <button
              class="answer-button"
              [ngClass]="{
                'correct-answer': i === questions[currentQuestionIndex].correctAnswerIndex && i === userAnswer,
                'wrong-answer': i !== questions[currentQuestionIndex].correctAnswerIndex && i === userAnswer
              }"
              (click)="selectAnswer(i)"
            >
              {{ answer }}
            </button>
            </li>
        </ul>
        </div>

        <div  *ngIf="timerCountdown === 0 && userAnswer === undefined">
          <app-dialog [showDialog]="true" (okClicked)="closeDialogAndMoveToNextQuestion()"></app-dialog>
        </div>

        <button (click)="nextQuestion()" *ngIf="currentQuestionIndex < questions.length - 1">Next</button>
        <button (click)="showScore = true" *ngIf="currentQuestionIndex === questions.length - 1 && !showScore ">See Score</button>
        <p class="score" *ngIf="showScore">Your score is {{ score }}.</p> 

    </div>

<app-footer-style-two></app-footer-style-two>
