<app-navbar-style-four></app-navbar-style-four>

<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Profile</h3>

            <ul class="inner-list">
                <li><i class='bx bx-user'></i>{{ userDto.firstName }} {{ userDto.lastName }}</li>
                
            </ul>
        </div>
    </div>

    <div class="inner-banner-shape">
        <div class="shape-one"><img src="assets/img/inner-banner/banner-shape1.png" alt="Images"></div>
        <div class="shape-two"><img src="assets/img/inner-banner/banner-shape2.png" alt="Images"></div>
        <div class="shape-three"><img src="assets/img/inner-banner/banner-shape3.png" alt="Images"></div>
        <div class="inner-banner-dots-2"><img src="assets/img/shape/dots-shape.png" alt="Images"></div>
    </div>
</div>

<div class="blog-details-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-article">
                    <div class="article-author">
                        <ul>
                            <li><p> </p>
                                <img src="assets/ibrahim.jpg" alt="Image" width="130" height="130">
                                <h3>{{ userDto.firstName }} {{ userDto.lastName }}</h3>
<p> </p>
                                <div class="contact-widget">
                                    <h2>User Profile</h2>

                                    <ul>
                                        <li>
                                            <i class="flaticon-loupe"></i>
                                            <div class="content">
                                                <h3>First Name: </h3>
                                                <span><a >{{this.userDto.firstName}}</a></span>
                                                <h3>Last Name: </h3>
                                                <span><a >{{this.userDto.lastName}}</a></span>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="flaticon-telephone"></i>
                                            <div class="content">
                                                <h3>Phone: </h3>
                                                <span><a href="tel:+564325677896">{{this.userDto.phoneNumber}}</a></span>
                                            </div>
                                        </li>
                                        <li>
                                            <i class="flaticon-email-1"></i>
                                            <div class="content">
                                                <h3>Email:</h3>
                                                <span><a href="mailto:hello@ribo.com">{{this.userDto.email}}</a></span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </li>



                        </ul>
                        <div class="author-social-link">
                            <ul class="social-icon">
                                <li><a target="_blank" href="#"><i class="bx bxl-facebook"></i></a></li>
                                <li><a target="_blank" href="#"><i class="bx bxl-twitter"></i></a></li>
                                <li><a target="_blank" href="#"><i class="bx bxl-instagram"></i></a></li>
                                <li><a target="_blank" href="#"><i class="bx bxl-linkedin"></i></a></li>
                                <li><a target="_blank" href="#"><i class="bx bxl-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="author-shape">
                            <div class="shape1"><img src="assets/img/blog/blog-shape.png" alt="Images"></div>
                            <div class="shape2"><img src="assets/img/blog/blog-shape2.png" alt="Images"></div>
                            <div class="shape-dots"><img src="assets/img/blog/blog-dots.png" alt="Images"></div>
                        </div>
                    </div>



                    <div class="post-container">
                        <div class="user-profile">
                            <img src="assets/nadine.jpg" alt="User Profile Image">
                            <span>Nadine Mili</span>
                        </div>
                        <div class="post-content">
                            <textarea id="post-text" placeholder="What's on your mind?"></textarea>
                            <div class="post-actions">
                                <div class="photo-icon">
                                    <label for="post-photo">
                                        <i class="fas fa-camera"></i>
                                        <span>Add Photo/Video</span>
                                    </label>
                                    <input type="file" id="post-photo" accept="image/*">
                                </div>
                                <div class="separator"></div>
                                <button class="default-btn post-button-style">Post</button>
                            </div>
                        </div>
                    </div>



                    <div class="post-list">
                        <div class="post">
                            <div class="post-header">
                                <img src="assets/nadine.jpg" alt="User Profile Image">
                                <span>Nadine Mili</span>
                            </div>
                            <div class="post-content">
                                <p>This is my first post on this platform!</p>
                            </div>
                            <div class="post-actions">
                                <button class="like-button">Like</button>
                                <button class="comment-button">Comment</button>
                            </div>
                        </div>

                        <div class="post">
                            <div class="post-header">
                                <img src="assets/nadine.jpg" alt="User Profile Image">
                                <span>Nadine Mili</span>
                            </div>
                            <div class="post-content">
                                <p>Another post here!</p>
                            </div>
                            <div class="post-actions">
                                <button class="like-button">Like</button>
                                <button class="comment-button">Comment</button>
                            </div>
                        </div>

                    </div>


                    <div class="comments-wrap">
                        <h3 class="title">Comments (02)</h3>

                        <ul>
                            <li>
                                <img src="assets/img/blog/blog-profile1.png" alt="Image">
                                <h3>Devit Killer</h3>
                                <span>Jnauary 12, 2020</span>
                                <p>Software hack from an initial feasibility study, continuing through l implna business you have to be But we know there's a better</p>
                                <a routerLink="/blog-details"> Reply</a>
                            </li>
                            <li class="ml-30">
                                <img src="assets/img/blog/blog-profile2.png" alt="Image">
                                <h3>Morah Jein </h3>
                                <span>July 12, 2020</span>
                                <p>Software hack from an initial feasibility study, continuing through l implna business you have to be But we know there's a better</p>
                                <a routerLink="/blog-details"> Reply</a>
                            </li>
                        </ul>
                    </div>

                    <div class="comments-form">
                        <div class="contact-form">
                            <h3>Leave a Comment</h3>

                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <i class='bx bx-user'></i>
                                            <input type="text" name="name" class="form-control" required data-error="Please enter name" placeholder="Name*">
                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <i class='bx bx-envelope'></i>
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Your Message"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn">Post A Comment <i class='bx bx-plus'></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">

                    <div class="blog-widget">
                        <h3 class="title">Recent Posts</h3>

                        <div class="widget-popular-post">
                            <article class="item">
                                <a routerLink="/blog-details" class="thumb"><span class="full-image cover bg1" role="img"></span></a>
                                <div class="info">
                                    <span>Jnauary 12, 2020</span>
                                    <h4 class="title-text"><a routerLink="/blog-details">A Guide to Google SEO</a></h4>
                                    <p>Jhon hack from an iitial feaity study</p>
                                </div>
                            </article>

                            <article class="item">
                                <a routerLink="/blog-details" class="thumb"><span class="full-image cover bg2" role="img"></span></a>
                                <div class="info">
                                    <span>June 30, 2020</span>
                                    <h4 class="title-text"><a routerLink="/blog-details">15 SEO Best Practices</a></h4>
                                    <p>Jhon hack from an iitial feaity study</p>
                                </div>
                            </article>

                            <article class="item">
                                <a routerLink="/blog-details" class="thumb"><span class="full-image cover bg3" role="img"></span></a>
                                <div class="info">
                                    <span>April 09, 2020</span>
                                    <h4 class="title-text"><a routerLink="/blog-details">Website Architecture</a> </h4>
                                    <p>Jhon hack from an iitial feaity study</p>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="blog-widget">
                        <h3 class="title">Categories</h3>

                        <div class="widget_categories">
                            <ul>
                                <li><a routerLink="/blog">Design <span>(1)</span></a></li>
                                <li><a routerLink="/blog">Lifestyle <span>(4)</span></a></li>
                                <li><a routerLink="/blog">Camping <span>(3)</span></a></li>
                                <li><a routerLink="/blog">Support <span>(2)</span></a></li>
                                <li><a routerLink="/blog">Device <span>(6)</span></a></li>
                                <li><a routerLink="/blog">Internet <span>(18)</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="blog-widget">
                        <h3 class="title">Tags</h3>

                        <ul class="blog-widget-tag">
                            <li><a routerLink="/blog">#SEO</a></li>
                            <li><a routerLink="/blog">#Internet</a></li>
                            <li><a routerLink="/blog">#Web</a></li>
                            <li><a routerLink="/blog">#Sass</a></li>
                            <li><a routerLink="/blog">#It & Support</a></li>
                            <li><a routerLink="/blog">#Tik</a></li>
                            <li><a routerLink="/blog">#Tips</a></li>
                        </ul>
                    </div>
                <div class="change-password-form">
                    <h3>Changer les informations profile</h3>
                        <div class="form-actions">
                            <button type="submit" class="default-btn "[routerLink]="['/edit-profile'] ">Changer les informations profile<i class='bx bx-plus'></i></button>
                        </div>
                </div>
                <div class="change-password-form">
                    <h3>Changer le mot de passe</h3>
                    <form (ngSubmit)="changePassword(passwordForm)" #passwordForm="ngForm">
                    <div class="form-group">
                            <label for="newPassword">Nouveau mot de passe</label>
                            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPasswordFormControl" required class="form-control">
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="default-btn">Changer le mot de passe <i class='bx bx-plus'></i></button>
                        </div>
                    </form>
                </div>
                <div class="form-actions">
                    <button (click)="logout()" class="default-btn logout-btn">Logout <i class='bx bx-log-out'></i></button>
                </div>
            </div>
            </div>
        </div>
    </div>


<app-footer-style-two></app-footer-style-two>
